@page
@model IDCardAutomation.Pages.HrDashboardModel
@{
    ViewData["Title"] = "HR Dashboard";
}





<div class="dash-container">
<link href="~/css/dashboard.css" rel="stylesheet"  asp-append-version="true"/>
<h2>Hr Dashboard</h2>

    <div style="display: flex; flex-direction: row; gap: 20px; max-width:50%;">
        <a class="btn btn-primary btn-custom w-100" asp-page="/AddEmployee">Add Employee</a>
        <a class="btn btn-primary btn-custom w-100" asp-page="/HR/PendingResignations">Update employee resigning date</a>
    </div>

</div>
